        @font-face {
            font-family: "Gill Sans", sans-serif;
            src: url(https://fonts.cdnfonts.com/css/gill-sans-mt-2
            );
        }

        body {
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            box-sizing: border-box;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: auto;
            width: 40%;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #ffbd7c;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #button-header {
            background-color: #ffbd7c;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #f1b77e;
        }


         /* Header Styles */
        header {
            background-color: #4caf50;
            color: #fff;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            top: 0;
            width: 100%;
            min-height: 10%;
        }

        header img {
            width: 100px; /* Ajustez la taille du logo selon vos besoins */
            height: auto;
        }

        nav {
            display: flex;
            width: 45%;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 50px;
        }

        header .connexion {
            width: 30%;
            text-align: center;
        }

        header .logo {
            width: 25%;
            text-align: center;
        }

        main {
            min-height: 60%; /* Utiliser height: 100% pour occuper tout l'espace vertical disponible */
            box-sizing: border-box;
            padding-left:50px ;
            padding-right:50px ;
            max-width: 100%;
        }

        footer {
            position: sticky;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            background-color: #4caf50;
            color: #fff;
            text-align: center;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 10%;
        }          

        footer img {
            width: 30px; /* Ajustez la taille du logo selon vos besoins */
            height: auto;
            margin: 20px;
        }

        .container {
            display: flex;
            flex: 1;
            margin-top: 0px;
        }

        .left-column {
            width: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        .right-column {
            width: 70%;
            padding: 20px;
        }

        .tracking-script {
            background-color: #333;
            color: #fff;
            padding: 10px;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

